body {
  background: white;
}

p {
  margin: 3px 0px;
  padding: 0;
  font: 12px arial, sans-serif;
}
span {
  font-weight: bold;
}

.container {
  width: 320px;
  height: 475px;
  display: flex;
  /* justify-content: center; */ /* untuk bikin ke tengah flex-direction row*/
  align-items: center; /* untuk bikin ke tengah flex-direction: column atau ke tengah secara horizontal flex-direction: row */
  flex-direction: column;
  /* flex-wrap: wrap; */ /* pakai untuk direction row saja*/
  border: 1px solid black;
  margin: auto;
  padding: 20px;
  background: rgb(236, 236, 236);
  overflow: auto;
}

.card {
  width: 320px;
  /* flex-basis: 100%; */ /* pakai untuk direction row saja*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 0.5px solid rgba (0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 0.3rem;
  padding: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: white;
  block-size: fit-content;
}

.row {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  margin: 3px 5px;
}

.profile img {
  border-radius: 50%;
  width: 30px; /*untuk atur besar gambar*/
  height: 30px; /*untuk atur besar gambar*/
  border: 2px solid rgb(49, 49, 253);
  margin: 5px 10px 5px 0px;
  padding: 0;
  object-fit: cover;
}

.main img {
  object-fit: cover;
  height: 150px; /*untuk atur besar gambar*/
  width: 100%; /*untuk atur lebar gambar tampil seluruhnya*/
}

.action img {
  width: 20px; /*untuk atur besar gambar*/
  height: 20px; /*untuk atur besar gambar*/
  margin: 0px 10px 0px 0px;
  padding: 0;
  object-fit: cover;
}

.last {
  margin-left: auto;
}
